<!DOCTYPE html>
<html ng-app="homepage" ng-strict-di ng-controller="homepageController as homeCtrl">

<head>
    <meta charset="utf-8">
    <base href="/" />
    <title>I am Betty</title>
    <meta name="description" content="">
    <meta name="author" content="Betty Chen">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <!-- Favicons -->
    <link rel="shortcut icon" href="/theme/images/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/theme/css/bootstrap.min.css">
    <link rel="stylesheet" href="/theme/css/style.css">
    <link rel="stylesheet" href="/theme/css/style-responsive.css">
    <link rel="stylesheet" href="/theme/css/animate.min.css">
    <link rel="stylesheet" href="/theme/css/vertical-rhythm.min.css">
    <link rel="stylesheet" href="/theme/css/owl.carousel.css">
    <link rel="stylesheet" href="/theme/css/magnific-popup.css">

    <link rel="stylesheet" href="/css/style.css">
    <!-- ================== END BASE CSS STYLE ================== -->


    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <!-- ================== END PAGE LEVEL STYLE ================== -->
</head>

<body class="appear-animate">
    <!-- VENDOR JS -->
    <script src="/build/vendor.js"></script>
    <!-- BUILD JS -->
    <script src="/build/all.js"></script>

    <!-- Page Loader -->
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <!-- End Page Loader -->

    <!-- Page Wrap -->
    <div class="page">

        <!-- Home Section -->
        <section class="home-section parallax-2" data-background="/theme/images/full-width-images/6.jpg" id="home">
            <div class="js-height-full container">
                <!-- Header Content -->
                <div class="home-content">
                    <div class="home-text">
                        <h1 class="hs-line-1 font-alt mb-40 mb-xs-30 mt-0 mt-sm-0 black">
                            Betty Chen
                        </h1>
                        <div class="black hs-line-4 mt-40">
                            Full Stack Developer
                        </div>
                    </div>
                </div>
                <!-- End Header Content -->

                <!-- Scroll Down -->
                <div class="local-scroll">
                    <a href="#about" class="scroll-down">
                        <i class="fa fa-angle-down scroll-down-icon"></i>
                    </a>
                </div>
                <!-- End Scroll Down -->
            </div>
        </section>

        <!-- Navigation panel -->
        <nav class="main-nav dark transparent stick-fixed">
            <div class="full-wrapper relative clearfix">
                <!-- Logo ( * your text or image into link tag *) -->
                <div class="nav-logo-wrap local-scroll">
                    <!-- <a class="logo">
                        <img src="/theme/images/clients-logos/logo.png" alt="" />
                    </a> -->
                </div>
                <div class="mobile-nav">
                    <i class="fa fa-bars"></i>
                </div>
                <!-- Main Menu -->
                <div class="inner-nav desktop-nav">
                    <ul class="clearlist scroll-nav local-scroll">
                        <li class="active">
                            <a href="#home">Home</a>
                        </li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="/code">Code</a>
                        </li>
                        <li>
                            <a href="/works" class="mn-has-sub active">Works
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <!-- Sub Multilevel -->
                            <ul class="mn-sub mn-has-multi">
                                <!-- Sub Column -->
                                <li class="mn-sub-multi">
                                    <ul>
                                        <li>
                                            <a href="/works">All Works</a>
                                        </li>
                                        <li>
                                            <a href="/works/laso">Laso Concepts</a>
                                        </li>
                                        <li>
                                            <a href="/works/snapple">Snapple Campaign</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navigation panel -->

        <!-- About Section -->
        <section class="page-section" id="about">
            <div class="container relative">
                <h2 class="section-title font-alt mb-70 mb-sm-40">
                    About Me
                </h2>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
                    <!-- Profile -->
                    <li class="active">
                        <a href="#about-me" data-toggle="tab">
                            <div class="alt-tabs-icon">
                                <span class="icon-profile-female"></span>
                            </div>
                            About
                        </a>
                    </li>
                    <!-- Web Dev -->
                    <li>
                        <a href="#about-web-dev" data-toggle="tab">
                            <div class="alt-tabs-icon">
                                <span class="icon-desktop"></span>
                            </div>
                            Web Dev
                        </a>
                    </li>
                    <!-- Economics -->
                    <li>
                        <a href="#about-economics" data-toggle="tab">
                            <div class="alt-tabs-icon">
                                <span class="icon-linegraph"></span>
                            </div>
                            Economics
                        </a>
                    </li>
                    <!-- Branding -->
                    <li>
                        <a href="#about-branding" data-toggle="tab">
                            <div class="alt-tabs-icon">
                                <span class="icon-strategy"></span>
                            </div>
                            Branding
                        </a>
                    </li>
                </ul>
                <!-- End Nav tabs -->

                <!-- Tab Content -->
                <div class="tab-content tpl-tabs-cont">
                    <!-- Profile Item -->
                    <div class="tab-pane fade in active" id="about-me">
                        <div class="section-text">
                            <div class="row">
                                <div class="col-md-4 mb-md-40 mb-xs-30">
                                    <blockquote class="mb-0">
                                        <p>
                                            To be yourself in a world that is constantly trying to make you something else is the greatest accomplishment.
                                        </p>
                                        <footer>
                                            Ralph Waldo Emerson
                                        </footer>
                                    </blockquote>
                                </div>
                                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                    Hey there
                                    <span class="fa fa-smile-o"></span> I'm Betty - a Chinese national with a Canadian citizenship hailing from Hong
                                    Kong and currently living in Los Angeles. In other words, I'm a 'third culture' kid who
                                    grew up in a melting pot throughout my life. Also why I speak four languages and love
                                    traveling. The adventure never stops.
                                </div>
                                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                    On weekends, you'll either find me coffee shop hopping or building websites. There is an equally likely chance I'll just
                                    be eating something - not picky at all, I'll go from food trucks to drivethroughs to
                                    the fantastic DineLA restaurants in the city.
                                    <br>
                                    <span class="fa fa-instagram">&nbsp;&nbsp;</span>Follow my appetite on instagram:
                                    <a href="https://www.instagram.com/ooh.food">@ooh.food</a>
                                    <br>
                                    <span class="fa fa-instagram">&nbsp;&nbsp;</span>Follow my cofee shop adventures on instagram:
                                    <a href="https://www.instagram.com/coffee.convo">@coffee.convo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Item -->

                    <!-- Web Dev Item -->
                    <div class="tab-pane fade" id="about-web-dev">
                        <div class="section-text">
                            <div class="row">
                                <div class="col-md-4 mb-md-40 mb-xs-30">
                                    <blockquote class="mb-0">
                                        <p>
                                            Full Stack Web Developer based in Los Angeles.
                                        </p>
                                    </blockquote>
                                </div>
                                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                    My journey with coding started with a budding interest during college. I've always considered myself a maker - the joy in
                                    building and creating fulfills me personally and professionally. I'm well-balanced in
                                    both my creative and logical sides, which is why I saw myself as a creative engineer.
                                </div>
                                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                    I'm an experienced MEAN stack developer and love working in a team setting. My latest project is a web app built for Laso
                                    Concepts. My experience also includes an app built for Honda Innovations in the 2017
                                    AutoMobility LA Hackathon. See my
                                    <a href="/works">works.</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- End Item -->

                    <!-- Economics Item -->
                    <div class="tab-pane fade" id="about-economics">
                        <div class="section-text">
                            <div class="row">
                                <div class="col-md-4 mb-md-40 mb-xs-30">
                                    <blockquote class="mb-0">
                                        <p>
                                            Graduated UCLA in 2017 with a Bachelor's degree in Economics, and minors in Accounting and Digital Humanities.
                                        </p>
                                    </blockquote>
                                </div>
                                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                    I enjoy multi-disciplinary learning and enjoy practices which bridge the sciences to the arts, and the logic to the abstract.
                                    Especially with a background in Economics, I am shaped as a learner to identify trends
                                    and build theories upon logical patterns.
                                </div>
                                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                    My comprehensive set of knowledge includes econometrics, data mapping, media analysis, and financial statements. My work
                                    experience in these fields include public accounting and marketing. Connect with me on
                                    <a href="https://www.linkedin.com/in/bettyjxchen/">LinkedIn</a>.
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- End Item -->

                    <!-- Branding Item -->
                    <div class="tab-pane fade" id="about-branding">
                        <div class="section-text">
                            <div class="row">
                                <div class="col-md-4 mb-md-40 mb-xs-30">
                                    <blockquote class="mb-0">
                                        <p>
                                            Experienced in Branding and Marketing Technologies for Tech and Investment Companies.
                                        </p>
                                    </blockquote>
                                </div>
                                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                    I have a passion for helping companies and individuals build and establish a brand image in order to communicate the story
                                    behind a name. I am knowledgeable in driving business visibility to products while ensuring
                                    effective brand, product, and sales alignment.
                                </div>
                                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                    My experience includes a winning media strategy for Snapple in the National Student Advertising Competition (NSAC) and former
                                    work experience at Belkin International, MBC Strategic, and Harper's Bazaar. Connect
                                    with me on
                                    <a href="https://www.linkedin.com/in/bettyjxchen/">LinkedIn</a>.
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- End Item -->
                </div>
                <!-- End Tab Content -->
            </div>
            <!-- Scroll Down -->
            <div class="local-scroll">
                <a href="#contact" class="scroll-down">
                    <i class="fa fa-angle-down scroll-down-icon"></i>
                </a>
            </div>
            <!-- End Scroll Down -->
        </section>
        <!-- End About Section -->

        <!-- Call Action Section -->
        <section class="small-section bg-dark" id="contact">
            <div class="container relative">
                <div class="align-center">
                    <h3 class="banner-heading font-alt">See Projects?</h3>
                    <div class="local-scroll">
                        <a href="/works" class="btn btn-mod btn-w btn-medium btn-round">Yes</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Call Action Section -->

        <!-- Contact Section -->
        <section class="page-section">
            <div class="container relative">
                <h2 class="section-title font-alt mb-70 mb-sm-40">
                    Contact
                </h2>
                <div class="row mb-60 mb-xs-40">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="row">
                            <!-- Phone -->
                            <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                <div class="contact-item">
                                    <div class="ci-icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="ci-title font-alt">
                                        Mobile
                                    </div>
                                    <div class="ci-text">
                                        +1 (626) 678-0546
                                    </div>
                                </div>
                            </div>
                            <!-- End Phone -->

                            <!-- Address -->
                            <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                <div class="contact-item">
                                    <div class="ci-icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="ci-title font-alt">
                                        City
                                    </div>
                                    <div class="ci-text">
                                        Los Angeles, CA
                                    </div>
                                </div>
                            </div>
                            <!-- End Address -->

                            <!-- Email -->
                            <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                <div class="contact-item">
                                    <div class="ci-icon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="ci-title font-alt">
                                        Email
                                    </div>
                                    <div class="ci-text">
                                        <a href="mailto:bettyjxchen@gmail.com">bettyjxchen@gmail.com</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Email -->
                        </div>
                    </div>
                </div>

                <!-- Contact Form -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form class="form contact-form" id="contact_form" name="homeCtrl.contactForm" novalidate>
                            <div class="clearfix">
                                <!-- Left -->
                                <div class="cf-left-col">
                                    <!-- Name -->
                                    <div class="form-group">
                                        <input type="text" name="name" id="name" class="input-md round form-control" placeholder="Name" required ng-model="homeCtrl.formData.name">
                                    </div>

                                    <!-- Email -->
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" class="input-md round form-control" placeholder="Email" required ng-model="homeCtrl.formData.email">
                                    </div>
                                </div>
                                <!-- Right -->
                                <div class="cf-right-col">
                                    <!-- Message -->
                                    <div class="form-group">
                                        <textarea name="message" id="message" class="input-md round form-control" style="height: 84px;" placeholder="Message" ng-model="homeCtrl.formData.message"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix">
                                <div class="cf-left-col">
                                    <!-- Inform Tip -->
                                    <div class="form-tip pt-20">
                                        <i class="fa fa-info-circle"></i> All fields are required
                                    </div>
                                </div>
                                <div class="cf-right-col">
                                    <!-- Send Button -->
                                    <div class="align-right pt-10">
                                        <button class="submit_btn btn btn-mod btn-medium btn-round" ng-click="homeCtrl.submitMessage()">Submit Message</button>
                                        <p class="help-block" ng-show="homeCtrl.isMessageSuccess">
                                            Your message was sent!
                                        </p>
                                        <p class="help-block" ng-show="homeCtrl.isMessageError">
                                            Please correct form entries.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div id="result"></div>
                        </form>
                    </div>
                </div>
                <!-- End Contact Form -->
                <!-- Team Item -->
                <div class="col-sm-6 col-md-3 col-lg-3 mb-sm-30" style="margin-left: 430px; margin-top: 120px; margin-bottom:0">
                    <div class="team-item">
                        <div class="team-item-image">
                            <img src="/theme/images/homepage-self-2.jpg" alt="" />
                            <div class="team-item-detail">
                                <h4 class="font-alt normal">Let's Talk.</h4>
                                <p>
                                    Click the media links below or send me a message to connect with me!
                                    <br>
                                    <br> - Betty
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Team Item -->
            </div>

        </section>
        <!-- End Contact Section -->

        <!-- Footer -->
        <footer class="page-section bg-gray-lighter footer pb-60">
            <div class="container">
                <!-- Footer Logo -->
                <div class="local-scroll mb-30" data-wow-duration="1.5s">
                    <a>
                        <img src="/theme/images/logo-footer.png" width="78" height="36" alt="" />
                    </a>
                </div>
                <!-- End Footer Logo -->

                <!-- Social Links -->
                <div class="footer-social-links mb-110 mb-xs-60">
                    <a href="https://www.linkedin.com/in/bettyjxchen" title="LinkedIn+" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/bettyjxchen" title="Github" target="_blank">
                        <i class="fa fa-github-square"></i>
                    </a>
                    <a href="https://www.instagram.com/bxttychxn/" title="Instagram" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
                <!-- End Social Links -->

                <!-- Footer Text -->
                <div class="footer-text">
                    <!-- Copyright -->
                    <div class="footer-copy font-alt">
                        <p class="cursor-default">&copy; Betty Chen 2018</p>
                    </div>
                    <!-- End Copyright -->
                </div>
                <!-- End Footer Text -->
            </div>

            <!-- Top Link -->
            <div class="local-scroll">
                <a href="#home" class="link-to-top">
                    <i class="fa fa-caret-up"></i>
                </a>
            </div>
            <!-- End Top Link -->
        </footer>
        <!-- End Footer -->
    </div>
    <!-- End Page Wrap -->

    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script type="text/javascript" src="/theme/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/theme/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/theme/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/theme/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="/theme/js/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="/theme/js/jquery.localScroll.min.js"></script>
    <script type="text/javascript" src="/theme/js/jquery.viewport.mini.js"></script>
    <script type="text/javascript" src="/theme/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="/theme/js/jquery.appear.js"></script>
    <script type="text/javascript" src="/theme/js/jquery.sticky.js"></script>
    <script type="text/javascript" src="/theme/js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="/theme/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/theme/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/theme/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/theme/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/theme/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/theme/js/gmap3.min.js"></script>
    <script type="text/javascript" src="/theme/js/wow.min.js"></script>
    <script type="text/javascript" src="/theme/js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/theme/js/jquery.simple-text-rotator.min.js"></script>
    <script type="text/javascript" src="/theme/js/all.js"></script>
    <!-- <script type="text/javascript" src="/theme/js/contact-form.js"></script> -->
    <script type="text/javascript" src="/theme/js/jquery.ajaxchimp.min.js"></script>
    <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->
    <!-- ================== END PAGE LEVEL JS ================== -->

</body>

</html>