<div class="bg-background-fade">
    <!-- start hero section -->
    <section id="top" class="wow fadeIn no-padding cover-background color-code opacity-medium bg-extra-dark-gray" style=" background-image: url(/theme/images_site/homepage_main.jpg);">

        <div style="background-color: black; padding: 70px; position: absolute; top: 150px; right: 50px; height: 400px; width: 450px; text-align: center">
            <span style="vertical-align: middle;" class="after-before-separator text-extra-small alt-font text-white letter-spacing-3 xs-letter-spacing-0 text-uppercase margin-30px-top margin-20px-bottom xs-margin-5px-bottom display-inline-block">the app</span>
            <h2 class="font-weight-600 text-white alt-font margin-50px-bottom xs-margin-25px-bottom display-inline-block">Friendzone
            </h2>
            <a href="portfolio-full-width-grid-transform.html" class="btn btn-transparent-white btn-rounded btn-medium text-link-white display-inline-block text-deep-teal-hover">Download on the App Store
                <i class="text-medium-gray text-deep-teal-hover fa fa-apple"></i>
            </a>
        </div>

        <div class="container full-screen position-relative">
        </div>
    </section>
    <!-- end hero section -->

    <!-- start section 1 -->
    <section class="wow fadeIn color-code md-no-background-img" data-color="2" style="background: url('/theme/images/back-image1.png') left bottom no-repeat,url('/theme/images/back-image2.png') right top no-repeat">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 center-col text-center xs-padding-15px-lr">
                    <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom display-inline-block text-outside-line-full">friendzone</div>
                    <h3 class="text-white alt-font width-100 sm-width-100 margin-70px-bottom sm-no-margin-bottom">Friendzone is a peer-to-peer connector app based in Los Angeles. Redefine meetups, friendships, and community.</h3>
                </div>
            </div>

            <div class="row">
                <!-- start feature box item -->
                <div class="col-md-3 col-sm-3 col-xs-6 text-center display-inline-block feature-box-9 xs-height-200px wow zoomIn">
                    <i class="icon-edit icon-large margin-20px-bottom text-extra-dark-gray"></i>
                    <p class="alt-font text-medium text-light-gray">Creative Elements</p>
                    <div class="text-bottom-line border-color-extra-dark-gray"></div>
                </div>
                <!-- end feature box item -->
                <!-- start feature box item -->
                <div class="col-md-3 col-sm-3 col-xs-6 text-center display-inline-block feature-box-9 xs-height-200px wow zoomIn" data-wow-delay="0.2s">
                    <i class="icon-tools-2 icon-large margin-20px-bottom text-extra-dark-gray"></i>
                    <p class="alt-font text-medium text-light-gray">Smart Shortcodes</p>
                    <div class="text-bottom-line border-color-extra-dark-gray"></div>
                </div>
                <!-- end feature box item -->
                <!-- start feature box item -->
                <div class="col-md-3 col-sm-3 col-xs-6 text-center display-inline-block feature-box-9 xs-height-200px wow zoomIn" data-wow-delay="0.4s">
                    <i class="icon-expand icon-large margin-20px-bottom text-extra-dark-gray"></i>
                    <p class="alt-font text-medium text-light-gray">Unlimited Layouts</p>
                    <div class="text-bottom-line border-color-extra-dark-gray"></div>
                </div>
                <!-- end feature box item -->
                <!-- start feature box item -->
                <div class="col-md-3 col-sm-3 col-xs-6 text-center display-inline-block feature-box-9 xs-height-200px wow zoomIn" data-wow-delay="0.6s">
                    <i class="icon-scissors icon-large margin-20px-bottom text-extra-dark-gray"></i>
                    <p class="alt-font text-medium text-light-gray">Shortcode Panel</p>
                    <div class="text-bottom-line border-color-extra-dark-gray"></div>
                </div>
                <!-- end feature box item -->
            </div>
        </div>
    </section>
    <!-- end section -->

    <!-- start section 2 -->
    <section class="wow fadeIn color-code md-no-background-img" data-color="3" style="background: url('/theme/images/back-image3.png') right top no-repeat">
        <div class=" container">
            <div class="row">
                <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 center-col text-center xs-padding-15px-lr">
                    <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom display-inline-block text-outside-line-full">about the app</div>
                    <h3 class="text-white alt-font width-100 sm-width-100 sm-no-margin-bottom">Friendzone is your zone. Join us in our story.</h3>
                    <div class="col-md-12 col-sm-12 center-col text-center btn-dual margin-40px-top">
                        <a class="btn btn-small btn-transparent-white btn-rounded md-margin-15px-bottom sm-display-table sm-margin-lr-auto" href="#">Learn More
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- start section 3 -->
    <section class="wow fadeIn color-code md-no-background-img" data-color="3" style="background: url('/theme/images/back-image5.png') left 51% no-repeat">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 center-col text-center xs-padding-15px-lr">
                    <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom display-inline-block text-outside-line-full">our idea</div>
                    <h3 class="text-white alt-font width-100 sm-width-100 sm-no-margin-bottom">Lorem Ipsum lorem ipsum lorem ipsum lorem ipsum.</h3>
                    <!-- <div class="col-md-12 col-sm-12 center-col text-center btn-dual margin-40px-top">
                        <a class="btn btn-small btn-transparent-white btn-rounded md-margin-15px-bottom sm-display-table sm-margin-lr-auto" href="#">Learn More.</a>
                    </div> -->
                </div>
            </div>
        </div>
    </section>

    <!-- start section 4 -->
    <section class="wow fadeIn color-code md-no-background-img" data-color="4" style="background: url('/theme/images/back-image2.png') right top no-repeat">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 center-col text-center xs-padding-15px-lr">
                    <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom display-inline-block text-outside-line-full">our goal</div>
                    <h3 class="text-white alt-font width-100 sm-width-100 sm-no-margin-bottom">Lorem Ipsum lorem ipsum lorem ipsum lorem ipsum.</h3>
                    <!-- <div class="col-md-12 col-sm-12 center-col text-center btn-dual margin-40px-top">
                        <a class="btn btn-small btn-transparent-white btn-rounded md-margin-15px-bottom sm-display-table sm-margin-lr-auto" href="#">Go.</a>
                    </div> -->
                </div>
            </div>
        </div>
    </section>

    <!-- start section 5 -->
    <section class="wow fadeIn color-code md-no-background-img" data-color="5" style="background: url('/theme/images/back-image4.png') left 51% no-repeat">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 center-col text-center xs-padding-15px-lr">
                    <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom display-inline-block text-outside-line-full">our people</div>
                    <h3 class="text-white alt-font width-100 sm-width-100 sm-no-margin-bottom">Friendzone is your zone. Join us in our story.</h3>
                    <div class="col-md-12 col-sm-12 center-col text-center btn-dual margin-40px-top">
                        <a class="btn btn-small btn-transparent-white btn-rounded md-margin-15px-bottom sm-display-table sm-margin-lr-auto" href="#">Download the app
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- start contact section -->
    <section class="wow fadeIn animated color-code md-no-background-img" data-color="6">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-10 col-xs-12 center-col text-center wow fadeIn">
                    <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom display-inline-block">Let's Get in touch - General or Business Inquiries</div>
                </div>
            </div>
            <form id="contact-form" action="javascript:void(0)" method="post">
                <div class="row">
                    <div class="col-md-8 center-col input-border-white text-center">
                        <div id="success-contact-form" class="no-margin-lr"></div>
                        <input type="text" name="name" id="name" placeholder="Name*" class="input-border-bottom border-white-light">
                        <input type="text" name="email" id="email" placeholder="E-mail*" class="input-border-bottom border-white-light">
                        <input type="text" name="subject" id="subject" placeholder="Subject" class="input-border-bottom border-white-light">
                        <textarea name="comment" id="comment" placeholder="Your Message" class="input-border-bottom border-white-light"></textarea>
                        <button id="contact-us-button" type="submit" class="btn btn-small btn-transparent-white xs-margin-15px-top">send message</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- end contact section -->
</div>

<!-- javascript libraries -->
<script type="text/javascript" src="/theme/js/jquery.js"></script>
<script type="text/javascript" src="/theme/js/modernizr.js"></script>
<script type="text/javascript" src="/theme/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/theme/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/theme/js/skrollr.min.js"></script>
<script type="text/javascript" src="/theme/js/smooth-scroll.js"></script>
<script type="text/javascript" src="/theme/js/jquery.appear.js"></script>
<!-- menu navigation -->
<script type="text/javascript" src="/theme/js/bootsnav.js"></script>
<script type="text/javascript" src="/theme/js/jquery.nav.js"></script>
<!-- animation -->
<script type="text/javascript" src="/theme/js/wow.min.js"></script>
<!-- page scroll -->
<script type="text/javascript" src="/theme/js/page-scroll.js"></script>
<!-- swiper carousel -->
<script type="text/javascript" src="/theme/js/swiper.min.js"></script>
<!-- counter -->
<script type="text/javascript" src="/theme/js/jquery.count-to.js"></script>
<!-- parallax -->
<script type="text/javascript" src="/theme/js/jquery.stellar.js"></script>
<!-- magnific popup -->
<script type="text/javascript" src="/theme/js/jquery.magnific-popup.min.js"></script>
<!-- portfolio with shorting tab -->
<script type="text/javascript" src="/theme/js/isotope.pkgd.min.js"></script>
<!-- images loaded -->
<script type="text/javascript" src="/theme/js/imagesloaded.pkgd.min.js"></script>
<!-- pull menu -->
<script type="text/javascript" src="/theme/js/classie.js"></script>
<script type="text/javascript" src="/theme/js/hamburger-menu.js"></script>
<!-- counter  -->
<script type="text/javascript" src="/theme/js/counter.js"></script>
<!-- fit video  -->
<script type="text/javascript" src="/theme/js/jquery.fitvids.js"></script>
<!-- equalize -->
<script type="text/javascript" src="/theme/js/equalize.min.js"></script>
<!-- skill bars  -->
<script type="text/javascript" src="/theme/js/skill.bars.jquery.js"></script>
<!-- justified gallery  -->
<script type="text/javascript" src="/theme/js/justified-gallery.min.js"></script>
<!--pie chart-->
<script type="text/javascript" src="/theme/js/jquery.easypiechart.min.js"></script>
<!-- instagram -->
<script type="text/javascript" src="/theme/js/instafeed.min.js"></script>
<!-- retina -->
<script type="text/javascript" src="/theme/js/retina.min.js"></script>
<!-- revolution -->
<script type="text/javascript" src="/theme/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/theme/revolution/js/jquery.themepunch.revolution.min.js"></script>
<!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
<script type="text/javascript" src="/theme/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/theme/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/theme/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/theme/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/theme/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/theme/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/theme/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/theme/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/theme/revolution/js/extensions/revolution.extension.video.min.js"></script>
<!-- setting -->
<script type="text/javascript" src="/theme/js/main.js"></script>


<!-- video -->
<!-- <div> -->
<!-- start video section -->
<!-- <section class="wow fadeIn animated color-code no-padding-top md-no-background-img xs-padding-50px-tb" data-color="4" style="background: url('/theme/images/back-image4.png') left bottom no-repeat"> -->
<!-- start parallax with video section -->
<!-- <section class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(/theme/images_site/homepage_video.jpg);">
                    <div class="opacity-extra-medium bg-black"></div>
                    <div class="container position-relative">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 text-center center-col">
                                <a href="https://www.youtube.com/watch?v=zdef2anpd04" class="popup-youtube"><img src="/theme/images/icon-play.png" class="width-30" alt="" /></a>
                                <h5 class="alt-font text-white"></h5>
                            </div>
                        </div>
                    </div>
                </section> -->
<!-- end parallax with video section -->

<!-- start hover box section -->
<!-- <section class="no-padding wow fadeIn">
                    <div class="container-fluid">
                        <div class="row equalize"> -->
<!-- start box item -->
<!-- <div class="col-md-4 no-padding cover-background position-relative wow fadeIn sm-height-400px xs-height-350px" style="background: url(/theme/images_site/homepage_video_image_1.jpg)">
                <div class="opacity-medium bg-extra-dark-gray"></div>
                <div class="display-table width-100 height-100 position-relative sm-margin-auto sm-width-70 xs-width-90">
                    <div class="display-table-cell vertical-align-middle padding-twelve-all sm-padding-five-all sm-text-center">
                        <div class="alt-font text-deep-pink margin-30px-bottom"><span class="border-bottom border-color-deep-pink border-width-2"></div>
                        <div style="padding: 50px;">
                            <h5 class="alt-font text-white width-100 margin-30px-bottom md-width-100 sm-margin-15px-bottom">Make Connections</h5>
                            <a class="btn btn-white btn-very-small" href="accordions.html">Learn more</a>
                        </div>
                    </div>
                </div>
            </div> -->
<!-- end box item -->
<!-- start box item -->
<!-- <div class="col-md-4 no-padding cover-background position-relative wow fadeIn sm-height-400px xs-height-350px" style="background: url(/theme/images_site/homepage_video_image_2.jpg)">
                <div class="opacity-medium bg-extra-dark-gray"></div>
                <div class="display-table width-100 height-100 position-relative sm-margin-auto sm-width-70 xs-width-90">
                    <div class="display-table-cell vertical-align-middle padding-twelve-all sm-padding-five-all sm-text-center">
                        <div class="alt-font text-deep-pink margin-15px-bottom"><span class="border-bottom border-color-deep-pink border-width-2"></div>
                        <div style="padding: 50px;">
                            <h5 class="alt-font text-white width-100 margin-30px-bottom md-width-100 sm-margin-15px-bottom">Get in the zone</h5>
                            <a class="btn btn-white btn-very-small" href="accordions.html">Get the app</a>
                        </div>
                    </div>
                </div>
            </div> -->
<!-- end box item -->
<!-- start box item -->
<!-- <div class="col-md-4 no-padding cover-background position-relative wow fadeIn sm-height-400px xs-height-350px" style="background: url(/theme/images_site/homepage_video_image_3.jpg)">
                <div class="opacity-medium bg-extra-dark-gray"></div>
                <div class="display-table width-100 height-100 position-relative sm-margin-auto sm-width-70 xs-width-90">
                    <div class="display-table-cell vertical-align-middle padding-twelve-all sm-padding-five-all sm-text-center">
                        <div class="alt-font text-deep-pink margin-15px-bottom"><span class="border-bottom border-color-deep-pink border-width-2"></div>
                        <div style="padding: 50px;">
                            <h5 class="alt-font text-white width-75 margin-30px-bottom md-width-100 sm-margin-15px-bottom">Grow with us</h5>
                            <a class="btn btn-white btn-very-small" href="accordions.html">Careers</a>
                        </div>
                    </div>
                </div>
            </div> -->
<!-- end box item -->
<!-- </div>
                    </div>
                </section> -->
<!-- end hover box section -->
<!-- </section> -->
<!-- end video section -->
<!-- </div> -->
