<!-- start header -->
<header>
    <!-- start navigation -->
    <nav class="navbar navbar-default bootsnav navbar-fixed-top header-dark white-link bg-transparent">
        <div class="container-fluid nav-header-container">
            <div class="row">
                <!-- logo -->
                <div class="col-md-2 col-xs-5">
                    <a href="/" class="logo"><img src="/theme/images_site/icons/logo-blue.png" data-at2x="/theme/images_site/icons/logo-blue.png" class="logo-dark"><img src="/theme/images_site/icons/logo-blue.png" data-at2x="/theme/images_site/icons/logo-blue.png" class="logo-light default"></a>
                </div>
                <div class="col-md-7 col-xs-2 width-auto pull-right accordion-menu xs-no-padding-right">
                    <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                        <span class="sr-only">toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
                        <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
                            <li class="dropdown simple-dropdown"><a href="/">Home</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                            </li>
                            <li class="dropdown megamenu-fw">
                                <a href="/about">About</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                            </li>
                            <li class="dropdown megamenu-fw">
                                <a href="/faq">FAQ</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                            </li>
                            <li class="dropdown simple-dropdown"><a href="/careers" title="Blog">Careers</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                            </li>
                            <li class="dropdown megamenu-fw">
                                <a href="/contact">Contact</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-xs-5 width-auto">
                    <div class="header-searchbar">
                        <a href="#search-header" class="header-search-form text-white"><i class="fa fa-search search-button"></i></a>
                        <!-- search input-->
                        <form id="search-header" method="post" action="search-result.html" name="search-header" class="mfp-hide search-form-result">
                            <div class="search-form position-relative">
                                <button type="submit" class="fa fa-search close-search search-button"></button>
                                <input type="text" name="search" class="search-input" placeholder="Enter your keywords..." autocomplete="off">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- end navigation -->
</header>

<!-- start ui-view -->
<div ui-view="content"></div>

<!-- start footer -->
<footer class="footer-classic-dark bg-extra-dark-gray padding-five-bottom xs-padding-30px-bottom">
    <div class="bg-dark-footer padding-20px-tb xs-padding-10px-tb">
    </div>
    <div class="footer-widget-area padding-five-top padding-15px-bottom xs-padding-15px-top">
        <div class="container">
            <div class="row">
                <!-- start contact -->
                <div class="col-md-3 col-sm-6 col-xs-12 widget pofo-right-border-style border-right padding-45px-left border-color-medium-dark-gray xs-text-center">
                    <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-10px-bottom font-weight-600">Friendzone</div>
                    <div class="textwidget">
                        <p class="text-small display-block margin-15px-bottom width-80 xs-center-col">Main Office<br> 301 The Greenhouse, Custard Factory, London, E2 8DY.</p>
                        <div class="text-small">Email: <a href="mailto:sales@domain.com">info@friendzone.com</a></div>
                        <div class="text-small">Phone: +44 (0) 123 456 7890</div>

                    </div>
                </div>

                <!-- start quick links -->
                <div class="col-md-3 col-sm-6 col-xs-12 widget sm-margin-30px-bottom xs-text-center">
                    <div class="widget-title alt-font text-small text-uppercase margin-15px-bottom font-weight-600">
                    </div>
                    <div class="widget-title alt-font text-small text-uppercase margin-15px-bottom font-weight-600">
                        <a class="text-medium-gray-hover-white" href="/faq">FAQ</a>
                    </div>
                    <div class="widget-title alt-font text-small text-uppercase margin-15px-bottom font-weight-600">
                        <a class="text-medium-gray-hover-white" href="/careers">Careers</a>
                    </div>
                    <div class=" widget-title alt-font text-small text-uppercase margin-15px-bottom font-weight-600">
                        <a class="text-medium-gray-hover-white" href="/contact">Contact</a>
                    </div>
                    <div class="widget-title alt-font text-small text-uppercase margin-15px-bottom font-weight-600">
                        <a class="text-medium-gray-hover-white" href="/terms-and-conditions">Terms & Conditions</a>
                    </div>
                </div>

                <!-- start newsletter -->
                <div class="col-md-4 col-sm-6 col-xs-12 widget xs-text-center">
                    <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-15px-bottom font-weight-600">Subscribe to our Newsletter</div>
                    <form id="subscribenewsletterform" action="javascript:void(0)" method="post">
                        <div class="position-relative newsletter width-95">
                            <div id="success-subscribe-newsletter" class="no-margin-lr"></div>
                            <input type="text" id="email" name="email" class="bg-transparent text-small no-margin border-color-medium-dark-gray" placeholder="Enter your email">
                            <button id="button-subscribe-newsletter" type="submit" class="btn btn-arrow-small position-absolute border-color-medium-dark-gray">
                                <i class="fa fa-caret-right no-margin-left"></i>
                            </button>
                        </div>
                    </form>

                    <div class="icon-social-medium margin-three-bottom margin-20px-top">
                        <a href="https://www.facebook.com/" target="_blank" class="text-medium-gray text-deep-teal-hover margin-one-lr"><i class="fa fa-facebook text-deep-teal-hover" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/" target="_blank" class="text-medium-gray text-deep-teal-hover margin-one-lr"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com" target="_blank" class="text-medium-gray text-deep-teal-hover margin-one-lr"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        <a href="https://www.tumblr.com/" target="_blank" class="text-medium-gray text-deep-teal-hover margin-one-lr"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
                        <a href="http://instagram.com" target="_blank" class="text-medium-gray text-deep-teal-hover margin-one-lr"><i class="fa fa-instagram text-deep-teal-hover" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <div class="container">
        <div class="footer-bottom border-top border-color-medium-dark-gray padding-30px-top">
            <div class="row">
                <!-- start copyright -->
                <div class="col-md-6 col-sm-6 col-xs-12 text-left text-small xs-text-center"></div>
                <div class="col-md-6 col-sm-6 col-xs-12 text-right text-small xs-text-center">&COPY; 2018 Friendzone All Rights Reserved
                </div>
                <!-- end copyright -->
            </div>
        </div>
    </div>
</footer>

<!-- start scroll to top -->
<a class="scroll-top-arrow" href="javascript:void(0);">
    <i class="ti-arrow-up"></i>
</a>
<!-- end scroll to top  -->
